<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners></listeners>
    <test verbose="2" preserve-order="true"
          name="D:/Intellij-Workspace/rest_api_automation/src/test/java/airlines/AirlineTest.java">
        <classes>
            <class name="airlines.AirlineTest">
                <methods>
                    <include name="createAirlineTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>